extends templates/_basic

block template-variables
  - var pageSettings = {index: 2}

block template-body
  .l-outer
    include partials/_header

    .l-inner
      section#intro
        h1.t-h1 Akce na klíč
        p.big Podívejte se, kde všude jsme šířili radost!

    section.nabidka.superbox.o-offers
      each instance in actionItems
        article.o-item(class="o-item--#{instance.name}")
          - var imageLink = instance.alt_image ? instance.alt_image : instance.image
          a.o-item__link(href="assets/images/nabidka/#{imageLink}", data-superbox)
            img(src="assets/images/nabidka/#{instance.image}", alt=instance.title)
          h3.t-h3: span!= instance.title
          section.o-item__hidden(data-content)
            ul.bxslider(data-images)
              li
                img(src="assets/images/nabidka/#{instance.image}", alt="Fotka atrakce")
              - var n = 0
              while n < 3
                li
                  img(src="http://unsplash.it/640/360/?image=#{n * 100}", alt="unsplash.it")
                  - n++
            .o-item__text(data-text)
              h2.o-item__title.t-h2: span!= instance.title
              p.big.o-item__big!= instance.description
              if (instance.more)
                p.o-item__small!= instance.more
              if (instance.for)
                .o-item__for
                  p
                    strong Atrakce určena pro: 
                    != instance.for
              if (instance.technical)
                .o-item__technical
                  p
                    strong Technický popis a požadavky: 
                    != instance.technical
              a.o-item__button.o-button(href="#") Přidat k nacenění
  
  .l-inner
    footer
      h1.t-h1 Chcete se také tak pobavit?
      a.uline.big(href='kontakt') Napište, my to zařídíme!
      include partials/_colophon

  include partials/_sticky