extends templates/_basic

block template-variables
  - var pageSettings = {index: 2}

block template-body
  .l-outer
    include partials/_header

    .l-inner
      section#intro
        h1.t-h1 Akce na klíč
        p.big Plánujete rodinnou oslavu svého dítka, dětský den, předvolební kampaň nebo firemní akci? Jsme připraveni se o&nbsp;vše postarat! Jsme schopní uspořádat, zorganizovat a&nbsp;uskutečnit jak malé, tak velké akce a&nbsp;to vše podle přání zákazníka.

    section.nabidka.superbox.o-offers
      each instance in actionItems
        article.o-item(class="o-item--#{instance.name}")
          a.o-item__link(href="assets/images/akce/#{instance.name}_new.jpg", data-superbox)
            img(src="assets/images/akce/#{instance.name}_new.jpg", alt!=instance.title)
          h3.t-h3: span!= instance.title
          section.o-item__hidden(data-content)
            if instance.gallery
              ul.bxslider(data-images)
                - var n = 1
                while n <= instance.gallery
                  li
                    img(src="assets/images/akce/#{instance.name}_#{n}.jpg", alt="Fotka akce")
                  - n++

            .o-item__text(data-text)
              h2.o-item__title.t-h2: span!= instance.title
              p.big.o-item__big!= instance.description
              if (instance.more)
                p.o-item__small!= instance.more
              if (instance.for)
                .o-item__for
                  p
                    strong Atrakce určena pro: 
                    != instance.for
              if (instance.technical)
                .o-item__technical
                  p
                    strong Technický popis a požadavky: 
                    != instance.technical
              a.o-item__button.o-button(href="#") Přidat k nacenění
  
  .l-inner
    footer
      h1.t-h1 Chcete se také tak pobavit?
      a.uline.big(href='kontakt') Napište, my to zařídíme!
      include partials/_colophon

  include partials/_sticky
